.hebStyle {
      direction: rtl;
}


.listBtn{
      max-width: 105px !important;
      margin: 2px;     
  }


  .listBtnSmall{
      max-width: 65px !important;
      margin: 5px;
  }

  

  .listBtnSmall2{
    max-width: 70px !important;
    margin: 2px;
}
