
.homeRTL {
    direction: rtl;
     font-size: 100%;
     vertical-align:middle;
    text-align:center;
    background-color: #f3fafe;
}


.home {
   // direction: rtl;
     font-size: 80%;
     vertical-align:middle;
    text-align:center;
    background-color: #f3fafe;
}


.homediv{
   padding-top: 10px;
   padding-bottom: 15px;
   background-color:transparent;
   font-size: 130%;

}



.homefooter{
   padding-top: 10px;
   padding-bottom: 15px;
   background-color:transparent;
   font-size: 90%;

}
