<ion-header>
  <ion-toolbar>
    <ion-title style="padding-right: 0px;padding-left: 53px;" >{{mylang.ContainerUnloading.list}}</ion-title>
    <ion-buttons slot="end" *ngIf="showFilterFlag=='N'">
      <ion-button (click)="getItems($event)"> <img width="22" height="22" src="assets/img/refresh.png"
          style="margin-right:6px;"> {{mylang.General.refresh}}</ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="showFilterFlag=='N'">
      <ion-button (click)="showAdvanceFilter($event)"> <img width="24" height="24" src="assets/img/filter2x.png">
        {{mylang.General.ShowfilterOptions}}</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <!--<ion-button routerLink="/home" routerDirection="root"> {{mylang.General.goBack}}</ion-button>-->
      <ion-back-button icon="ios-arrow-back" mode="ios" style="direction: ltr;" text="{{mylang.General.goBack}}"  ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'hebStyle': mylang.currentLang=='Heb'}">
  <ion-searchbar (ionChange)="getItems($event)" debounce='1000' [(ngModel)]="myInput" *ngIf="showFilterFlag=='N'" showCancelButton='true'
    cancelButtonText='{{mylang.General.cancelSearch}}'></ion-searchbar>
    <ion-item  *ngIf="items.length<1">
    <ion-label mode="ios" *ngIf="showFilterFlag=='N'">
         <ion-text  mode="ios" >
         {{mylang.General.NoData}} 
        </ion-text>
      </ion-label>
 </ion-item>
 
  <ion-list inset *ngIf="showFilterFlag=='N'">
   <!-- <ion-item *ngFor="let item of (items? items.slice(0,220): [])">-->
<ion-item button detail="false" [ngClass]="even ? 'odd' : 'even'" *ngFor="let item of (items? items.slice(0,220): []);let even = even"  (click)="showActions($event,item)">
    <ion-ripple-effect></ion-ripple-effect>
      <ion-avatar slot="start">
        <div>
            <img *ngIf="item.unloadingdate=='' &&  item.existDate=='' " height="32" width="32" src="assets/img/tracking/parked2x.png" style="height:32px;width:32px">
            <img *ngIf="item.unloadingdate=='' &&  item.existDate!=''" height="32" width="32" src="assets/img/tracking/onMoving.png" style="height:32px;width:32px">
            <img *ngIf="item.unloadingdate!='' && item.wasteSiteName==''" height="32" width="32" src="assets/img/tracking/illegal2x.png"style="height:32px;width:32px"> 
            <img *ngIf="item.unloadingdate!='' && item.wasteSiteName!=''" height="32" width="32" src="assets/img/tracking/legal2x.png" style="height:32px;width:32px">
        </div>
      </ion-avatar>

      <ion-label [ngClass]="{'hebStyle': mylang.currentLang=='Heb'}">
        	<h2>{{item.regNum}}</h2>
			<p *ngIf="userRole=='Admin'||userRole=='Inspector'">{{item.movingCompanyName}}</p>
			<h2>{{item.projectAddress}}</h2>
			<p ><font size="1">{{item.insertDate}} {{mylang.General.to}} {{item.existDate}}</font>  </p>
			<p><font size="1">{{item.wasteSiteName}} {{item.unloadingdate}} </font></p>
			<p *ngIf="item.wasteSiteName!=''"><font size="1">{{item.volume}}m³, {{item.weight}}T </font></p>
      </ion-label>
 <!--<ion-label slot="end" class="listBtn">
        
        <ion-button expand="outline" >{{mylang.General.showActions}}</ion-button>
      </ion-label>-->

      <!--<ion-label slot="end" class="listBtnSmall">
        <ion-button expand="outline" (click)="itemSelected($event,item)">{{mylang.General.view}}</ion-button>
      </ion-label>

      <ion-label slot="end" class="listBtnSmall">
        <ion-button expand="outline" (click)="openMap($event,item)">{{mylang.General.map}}</ion-button>
      </ion-label>
-->
    </ion-item>
  </ion-list>



  <ion-list *ngIf="showFilterFlag=='Y'">
   <!-- <ion-item>
      <ion-label stacked>{{mylang.General.fromDate}}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="fromDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{mylang.General.toDate}}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="toDate"></ion-datetime>
    </ion-item>-->
    <ion-item>
			<ion-label stacked>{{mylang.General.fromDate}}</ion-label>
			<ion-input slot="end" style="text-align: end;"  value="{{ fromDate | date: 'YYYY-MM-DDTHH:mm' }}" id="date1"></ion-input>
			<ion-popover trigger="date" >
				<ng-template>
					<ion-datetime  [showDefaultButtons]="true" presentation="date" [(ngModel)]="fromDate" ></ion-datetime>
				</ng-template>
			</ion-popover>
		</ion-item>
    <ion-item>
			<ion-label stacked>{{mylang.General.toDate}}</ion-label>
			<ion-input slot="end" style="text-align: end;"  value="{{ toDate | date: 'dd/MM/YYYY' }}" id="date2"></ion-input>
			<ion-popover trigger="date" >
				<ng-template>
					<ion-datetime  [showDefaultButtons]="true" presentation="date" [(ngModel)]="toDate" ></ion-datetime>
				</ng-template>
			</ion-popover>
		</ion-item>

    <ion-item *ngIf="userRole!='MovingCompany'">
      <ion-label stacked>{{mylang.Project.movingCompanyName}}</ion-label>
      <ion-select [(ngModel)]="movingCompanyFilter" okText="{{mylang.General.select}}" cancelText={{mylang.General.cancel}}>
        <ion-select-option *ngFor="let codeItem of MovingCompanyList" [value]="codeItem.codeId">{{codeItem.codeDesc}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label stacked>{{mylang.General.filterWeightNotFilled}}</ion-label>
        <ion-toggle  [(ngModel)]="filterWeightNotFilled"></ion-toggle >
      </ion-item>
    
      <ion-item>
        <ion-label stacked>{{mylang.General.filterUnloaded}}</ion-label>
        <ion-toggle  [(ngModel)]="filterUnloaded"></ion-toggle >
      </ion-item>

  </ion-list>

  <ion-button expand="block" color="secondary" (click)="selectAdvanceFilter($event)" *ngIf="showFilterFlag=='Y'">
    {{mylang.General.filter}}</ion-button>
  <br />
  <ion-button expand="block" color="light" (click)="cancelAdvanceFilter($event)" *ngIf="showFilterFlag=='Y'">
    {{mylang.General.cancelfilter}}</ion-button>

</ion-content>