.ContainerBatary{
    max-width: 24px !important;
    min-width: 24px !important;
    margin: 2px;
}


.ContainerColor{
    max-width: 24px !important;
    min-width: 24px !important;    
    //min-height: 24px !important;    
    margin-left: 4px;
    margin-right: 1px;
}

